{
	"presets": [
		[
			"env",
			{
				"targets": {
					"node": "current",
					"browsers": [">0.25%"]
				}
			}
		],
		"react"
	],
	"plugins": [
		["transform-runtime", {
				"regenerator": true
		}],
		"transform-object-rest-spread"
	]
}